In [1]:
import pandas as pd
%matplotlib inline

In [2]:
Alleinstehendenabzug = pd.read_csv('2020 Rutschi BZ CAS - Pivot.csv')
Alleinstehendenabzug

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Steuerjahr,Zivilstand,Abzug Alleinstehend,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2005,NaN,NaN,2006,NaN,NaN,2007,NaN,...,NaN,2015,NaN,NaN,2016,NaN,NaN,2017,NaN,NaN
5,NaN,NaN,AS,NaN,VH,AS,NaN,VH,AS,NaN,...,VH,AS,NaN,VH,AS,NaN,VH,AS,NaN,VH
6,Einkommens-Klasse,Values,Ja,Nein,Nein,Ja,Nein,Nein,Ja,Nein,...,Nein,Ja,Nein,Nein,Ja,Nein,Nein,Ja,Nein,Nein
7,0,Summe von Anzahl,"18,214","79,007","15,337","17,154","78,877","15,672","16,884","79,618",...,"16,450","18,726","80,165","16,087","18,770","80,030","15,789","18,783","79,472","15,225"
8,NaN,Summe von Einfache Steuer Einkommen,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,20000,Summe von Anzahl,"38,886","52,602","29,243","39,289","54,249","28,356","37,048","54,429",...,"26,621","35,320","58,557","27,170","35,406","58,936","26,314","35,486","59,413","26,268"
10,NaN,Summe von Einfache Steuer Einkommen,"14,643,907","15,396,703","7,788,340","14,715,553","15,850,601","7,471,943","13,935,610","15,789,693",...,"6,615,180","12,664,221","16,437,678","6,790,538","12,570,711","16,501,981","6,595,779","12,611,413","16,602,815","6,622,141"
11,40000,Summe von Anzahl,"61,464","49,362","47,797","60,571","50,952","46,417","59,833","51,890",...,"39,029","57,007","57,429","38,303","56,108","57,354","37,889","56,262","58,055","37,055"
12,NaN,Summe von Einfache Steuer Einkommen,"68,400,992","55,608,538","46,085,519","67,520,304","57,610,188","44,734,141","66,899,931","58,968,871",...,"36,219,661","62,774,509","64,154,639","35,644,158","61,946,660","64,217,830","35,326,973","62,116,850","64,974,840","34,540,657"
13,60000,Summe von Anzahl,"33,607","23,388","52,687","34,137","25,453","52,259","35,678","27,636",...,"47,009","42,229","39,777","47,089","42,536","41,864","46,403","42,824","42,767","46,251"
14,NaN,Summe von Einfache Steuer Einkommen,"65,554,401","45,772,871","92,592,893","66,609,760","49,912,451","91,912,154","69,684,380","54,184,167",...,"78,263,694","80,104,756","75,314,733","78,532,485","80,808,448","79,182,521","77,420,327","81,369,086","80,918,370","77,207,821"
15,80000,Summe von Anzahl,"11,696","6,942","37,147","11,976","7,607","37,490","13,018","8,484",...,"39,512","16,689","13,719","39,661","17,204","14,473","40,236","17,419","14,931","40,698"
16,NaN,Summe von Einfache Steuer Einkommen,"34,589,155","20,695,861","97,573,412","35,376,549","22,650,374","98,533,249","38,540,732","25,198,123",...,"97,097,558","47,180,792","38,737,552","97,632,027","48,712,892","40,800,982","99,036,388","49,292,443","42,054,247","100,296,786"
17,100000,Summe von Anzahl,"4,280","2,316","20,003","4,511","2,664","20,552","4,916","2,958",...,"24,826","6,556","5,126","25,478","6,815","5,301","25,638","6,902","5,608","25,692"
18,NaN,Summe von Einfache Steuer Einkommen,"17,360,976","9,469,157","72,024,072","18,255,684","10,855,443","74,023,937","19,907,803","12,059,310",...,"83,000,821","25,313,013","19,687,873","85,188,475","26,288,096","20,258,658","85,683,157","26,657,406","21,455,908","85,926,990"
19,125000,Summe von Anzahl,"1,979","1,142","12,182","2,076","1,178","12,785","2,244","1,382",...,"15,953","3,048","2,437","16,422","3,189","2,619","17,032","3,277","2,620","17,375"
20,NaN,Summe von Einfache Steuer Einkommen,"10,449,545","6,107,450","57,679,957","10,990,992","6,291,524","60,748,031","11,838,791","7,353,503",...,"70,359,271","15,374,356","12,270,625","72,469,677","16,072,850","13,146,133","75,147,163","16,537,725","13,166,084","76,765,544"
21,150000,Summe von Anzahl,808,428,"5,687",874,486,"5,756",934,603,...,"7,923","1,221","1,036","8,312","1,322","1,078","8,445","1,317","1,085","8,566"
22,NaN,Summe von Einfache Steuer Einkommen,"5,482,301","2,920,819","34,737,923","5,914,488","3,315,786","35,191,253","6,308,640","4,118,418",...,"45,204,271","7,911,517","6,680,818","47,433,178","8,567,117","6,942,377","48,182,566","8,485,845","6,958,090","48,945,541"
23,175000,Summe von Anzahl,410,225,"2,784",419,266,"2,966",424,266,...,"4,042",606,502,"4,327",618,510,"4,381",655,525,"4,503"
24,NaN,Summe von Einfache Steuer Einkommen,"3,405,962","1,894,046","20,911,089","3,470,723","2,219,198","22,306,796","3,514,293","2,216,610",...,"28,636,502","4,749,931","3,902,911","30,680,063","4,825,075","3,960,686","31,080,325","5,123,993","4,075,993","31,835,918"
25,200000,Summe von Anzahl,226,139,"1,563",240,175,"1,611",276,180,...,"2,263",333,271,"2,366",358,287,"2,540",366,321,"2,528"
26,NaN,Summe von Einfache Steuer Einkommen,"2,224,996","1,384,941","14,017,646","2,370,457","1,736,007","14,454,525","2,722,998","1,777,766",...,"19,160,539","3,076,433","2,521,476","20,072,549","3,318,963","2,663,181","21,486,641","3,380,946","2,967,058","21,369,537"
27,250000,Summe von Anzahl,246,136,"1,653",279,158,"1,770",291,182,...,"2,410",356,263,"2,444",356,277,"2,510",403,266,"2,631"
28,NaN,Summe von Einfache Steuer Einkommen,"2,960,665","1,662,118","18,318,674","3,351,735","1,914,737","19,588,536","3,495,383","2,204,359",...,"25,047,151","4,022,340","3,001,906","25,314,005","4,014,279","3,122,518","26,077,040","4,533,547","2,920,869","27,395,087"
29,300000,Summe von Anzahl,118,62,785,133,83,851,177,92,...,"1,179",227,143,"1,173",214,152,"1,244",191,175,"1,243"
30,NaN,Summe von Einfache Steuer Einkommen,"1,799,831","943,026","11,098,608","2,026,289","1,272,946","12,025,837","2,692,313","1,406,180",...,"15,513,270","3,150,179","1,988,953","15,435,620","2,999,122","2,127,330","16,231,768","2,629,087","2,448,502","16,334,575"
31,400000,Summe von Anzahl,121,72,733,119,69,774,129,81,...,"1,021",174,150,"1,097",156,163,"1,190",191,157,"1,186"
32,NaN,Summe von Einfache Steuer Einkommen,"2,355,819","1,419,284","13,614,694","2,335,084","1,370,485","14,450,639","2,535,188","1,633,288",...,"17,298,915","3,089,202","2,746,528","18,611,958","2,709,604","2,911,259","20,190,255","3,429,334","2,802,600","19,779,718"
33,500000,Summe von Anzahl,46,36,296,55,32,345,52,37,...,480,71,52,520,95,70,490,73,55,545
34,NaN,Summe von Einfache Steuer Einkommen,"1,203,067","937,592","7,442,455","1,439,320","848,434","8,688,126","1,361,864","961,061",...,"10,663,859","1,674,938","1,244,325","11,815,728","2,273,801","1,697,113","11,034,374","1,692,381","1,366,333","12,326,645"
35,750000,Summe von Anzahl,41,20,286,34,23,303,42,30,...,415,77,48,441,77,60,457,80,62,468
36,NaN,Summe von Einfache Steuer Einkommen,"1,455,194","726,709","10,038,240","1,223,414","858,814","10,621,349","1,516,410","1,073,123",...,"12,942,144","2,424,216","1,517,365","13,594,178","2,437,717","1,833,929","13,930,912","2,451,421","1,818,669","14,057,328"
37,1000000,Summe von Anzahl,16,15,81,19,6,83,20,7,...,121,18,25,110,22,26,132,27,31,154
38,NaN,Summe von Einfache Steuer Einkommen,"843,530","791,351","4,290,242","1,015,032","328,220","4,325,763","1,033,981","366,358",...,"5,388,458","840,690","1,169,192","4,739,721","964,782","1,214,100","5,840,120","1,243,944","1,350,785","6,818,491"
39,1000001,Summe von Anzahl,21,8,120,29,9,127,32,14,...,170,41,24,199,46,27,205,37,35,212
40,NaN,Summe von Einfache Steuer Einkommen,"2,650,452","1,034,312","20,407,998","3,842,773","1,126,769","16,559,668","4,633,958","1,899,404",...,"17,151,595","7,218,122","3,835,682","19,204,444","7,446,873","2,957,145","22,415,736","6,507,817","3,930,617","23,371,065"
41,Grand Total,Summe von Anzahl,"172,179","215,900","228,384","171,915","222,287","228,117","171,998","227,889",...,"229,424","182,699","259,724","231,199","183,292","263,227","230,895","184,293","265,578","230,600"
42,NaN,Summe von Einfache Steuer Einkommen,"235,380,792","166,764,779","528,621,763","240,458,155","178,161,976","535,635,947","250,622,274","191,210,234",...,"568,562,889","281,569,214","255,212,257","583,158,803","285,956,990","263,537,742","595,679,522","288,063,239","269,811,782","603,593,842"
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wachstum seit 2005,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0%,23.0%,1.0%

Was chic wäre:
1 Tabelle Anzahl Alleinstehende ohne Abzug. Header die Jahre, Index die Einkommensklasse
1 Tabelle Steuerbetrag Alleinstehende ohne Abzug. Header die Jahre, Index die Einkommensklasse
1 Tabelle Anzahl Alleinstehende mit Abzug. Header die Jahre, Index Einkommensklasse
1 Tabelle Steuerbetrag Alleinstehende mit Abzug. Header die Jahre, Index Einkommensklasse
1 Tabelle Anzahl Ehepaare. Header die Jahre, Index Einkommensklasse
1 Tabelle Steuerbetrag Ehepaare. Header die Jahre, Index Einkommensklasse

In [15]:
#zurechtschneiden
Tabelle = Alleinstehendenabzug[7:]
Tabelle_neu = Tabelle.head(36)
Tabelle_neu

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
7,0,Summe von Anzahl,"18,214","79,007","15,337","17,154","78,877","15,672","16,884","79,618",...,"16,450","18,726","80,165","16,087","18,770","80,030","15,789","18,783","79,472","15,225"
8,NaN,Summe von Einfache Steuer Einkommen,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,20000,Summe von Anzahl,"38,886","52,602","29,243","39,289","54,249","28,356","37,048","54,429",...,"26,621","35,320","58,557","27,170","35,406","58,936","26,314","35,486","59,413","26,268"
10,NaN,Summe von Einfache Steuer Einkommen,"14,643,907","15,396,703","7,788,340","14,715,553","15,850,601","7,471,943","13,935,610","15,789,693",...,"6,615,180","12,664,221","16,437,678","6,790,538","12,570,711","16,501,981","6,595,779","12,611,413","16,602,815","6,622,141"
11,40000,Summe von Anzahl,"61,464","49,362","47,797","60,571","50,952","46,417","59,833","51,890",...,"39,029","57,007","57,429","38,303","56,108","57,354","37,889","56,262","58,055","37,055"
12,NaN,Summe von Einfache Steuer Einkommen,"68,400,992","55,608,538","46,085,519","67,520,304","57,610,188","44,734,141","66,899,931","58,968,871",...,"36,219,661","62,774,509","64,154,639","35,644,158","61,946,660","64,217,830","35,326,973","62,116,850","64,974,840","34,540,657"
13,60000,Summe von Anzahl,"33,607","23,388","52,687","34,137","25,453","52,259","35,678","27,636",...,"47,009","42,229","39,777","47,089","42,536","41,864","46,403","42,824","42,767","46,251"
14,NaN,Summe von Einfache Steuer Einkommen,"65,554,401","45,772,871","92,592,893","66,609,760","49,912,451","91,912,154","69,684,380","54,184,167",...,"78,263,694","80,104,756","75,314,733","78,532,485","80,808,448","79,182,521","77,420,327","81,369,086","80,918,370","77,207,821"
15,80000,Summe von Anzahl,"11,696","6,942","37,147","11,976","7,607","37,490","13,018","8,484",...,"39,512","16,689","13,719","39,661","17,204","14,473","40,236","17,419","14,931","40,698"
16,NaN,Summe von Einfache Steuer Einkommen,"34,589,155","20,695,861","97,573,412","35,376,549","22,650,374","98,533,249","38,540,732","25,198,123",...,"97,097,558","47,180,792","38,737,552","97,632,027","48,712,892","40,800,982","99,036,388","49,292,443","42,054,247","100,296,786"
17,100000,Summe von Anzahl,"4,280","2,316","20,003","4,511","2,664","20,552","4,916","2,958",...,"24,826","6,556","5,126","25,478","6,815","5,301","25,638","6,902","5,608","25,692"
18,NaN,Summe von Einfache Steuer Einkommen,"17,360,976","9,469,157","72,024,072","18,255,684","10,855,443","74,023,937","19,907,803","12,059,310",...,"83,000,821","25,313,013","19,687,873","85,188,475","26,288,096","20,258,658","85,683,157","26,657,406","21,455,908","85,926,990"
19,125000,Summe von Anzahl,"1,979","1,142","12,182","2,076","1,178","12,785","2,244","1,382",...,"15,953","3,048","2,437","16,422","3,189","2,619","17,032","3,277","2,620","17,375"
20,NaN,Summe von Einfache Steuer Einkommen,"10,449,545","6,107,450","57,679,957","10,990,992","6,291,524","60,748,031","11,838,791","7,353,503",...,"70,359,271","15,374,356","12,270,625","72,469,677","16,072,850","13,146,133","75,147,163","16,537,725","13,166,084","76,765,544"
21,150000,Summe von Anzahl,808,428,"5,687",874,486,"5,756",934,603,...,"7,923","1,221","1,036","8,312","1,322","1,078","8,445","1,317","1,085","8,566"
22,NaN,Summe von Einfache Steuer Einkommen,"5,482,301","2,920,819","34,737,923","5,914,488","3,315,786","35,191,253","6,308,640","4,118,418",...,"45,204,271","7,911,517","6,680,818","47,433,178","8,567,117","6,942,377","48,182,566","8,485,845","6,958,090","48,945,541"
23,175000,Summe von Anzahl,410,225,"2,784",419,266,"2,966",424,266,...,"4,042",606,502,"4,327",618,510,"4,381",655,525,"4,503"
24,NaN,Summe von Einfache Steuer Einkommen,"3,405,962","1,894,046","20,911,089","3,470,723","2,219,198","22,306,796","3,514,293","2,216,610",...,"28,636,502","4,749,931","3,902,911","30,680,063","4,825,075","3,960,686","31,080,325","5,123,993","4,075,993","31,835,918"
25,200000,Summe von Anzahl,226,139,"1,563",240,175,"1,611",276,180,...,"2,263",333,271,"2,366",358,287,"2,540",366,321,"2,528"
26,NaN,Summe von Einfache Steuer Einkommen,"2,224,996","1,384,941","14,017,646","2,370,457","1,736,007","14,454,525","2,722,998","1,777,766",...,"19,160,539","3,076,433","2,521,476","20,072,549","3,318,963","2,663,181","21,486,641","3,380,946","2,967,058","21,369,537"
27,250000,Summe von Anzahl,246,136,"1,653",279,158,"1,770",291,182,...,"2,410",356,263,"2,444",356,277,"2,510",403,266,"2,631"
28,NaN,Summe von Einfache Steuer Einkommen,"2,960,665","1,662,118","18,318,674","3,351,735","1,914,737","19,588,536","3,495,383","2,204,359",...,"25,047,151","4,022,340","3,001,906","25,314,005","4,014,279","3,122,518","26,077,040","4,533,547","2,920,869","27,395,087"
29,300000,Summe von Anzahl,118,62,785,133,83,851,177,92,...,"1,179",227,143,"1,173",214,152,"1,244",191,175,"1,243"
30,NaN,Summe von Einfache Steuer Einkommen,"1,799,831","943,026","11,098,608","2,026,289","1,272,946","12,025,837","2,692,313","1,406,180",...,"15,513,270","3,150,179","1,988,953","15,435,620","2,999,122","2,127,330","16,231,768","2,629,087","2,448,502","16,334,575"
31,400000,Summe von Anzahl,121,72,733,119,69,774,129,81,...,"1,021",174,150,"1,097",156,163,"1,190",191,157,"1,186"
32,NaN,Summe von Einfache Steuer Einkommen,"2,355,819","1,419,284","13,614,694","2,335,084","1,370,485","14,450,639","2,535,188","1,633,288",...,"17,298,915","3,089,202","2,746,528","18,611,958","2,709,604","2,911,259","20,190,255","3,429,334","2,802,600","19,779,718"
33,500000,Summe von Anzahl,46,36,296,55,32,345,52,37,...,480,71,52,520,95,70,490,73,55,545
34,NaN,Summe von Einfache Steuer Einkommen,"1,203,067","937,592","7,442,455","1,439,320","848,434","8,688,126","1,361,864","961,061",...,"10,663,859","1,674,938","1,244,325","11,815,728","2,273,801","1,697,113","11,034,374","1,692,381","1,366,333","12,326,645"
35,750000,Summe von Anzahl,41,20,286,34,23,303,42,30,...,415,77,48,441,77,60,457,80,62,468
36,NaN,Summe von Einfache Steuer Einkommen,"1,455,194","726,709","10,038,240","1,223,414","858,814","10,621,349","1,516,410","1,073,123",...,"12,942,144","2,424,216","1,517,365","13,594,178","2,437,717","1,833,929","13,930,912","2,451,421","1,818,669","14,057,328"
37,1000000,Summe von Anzahl,16,15,81,19,6,83,20,7,...,121,18,25,110,22,26,132,27,31,154
38,NaN,Summe von Einfache Steuer Einkommen,"843,530","791,351","4,290,242","1,015,032","328,220","4,325,763","1,033,981","366,358",...,"5,388,458","840,690","1,169,192","4,739,721","964,782","1,214,100","5,840,120","1,243,944","1,350,785","6,818,491"
39,1000001,Summe von Anzahl,21,8,120,29,9,127,32,14,...,170,41,24,199,46,27,205,37,35,212
40,NaN,Summe von Einfache Steuer Einkommen,"2,650,452","1,034,312","20,407,998","3,842,773","1,126,769","16,559,668","4,633,958","1,899,404",...,"17,151,595","7,218,122","3,835,682","19,204,444","7,446,873","2,957,145","22,415,736","6,507,817","3,930,617","23,371,065"
41,Grand Total,Summe von Anzahl,"172,179","215,900","228,384","171,915","222,287","228,117","171,998","227,889",...,"229,424","182,699","259,724","231,199","183,292","263,227","230,895","184,293","265,578","230,600"
42,NaN,Summe von Einfache Steuer Einkommen,"235,380,792","166,764,779","528,621,763","240,458,155","178,161,976","535,635,947","250,622,274","191,210,234",...,"568,562,889","281,569,214","255,212,257","583,158,803","285,956,990","263,537,742","595,679,522","288,063,239","269,811,782","603,593,842"

In [18]:
headers = ['Einkommensklasse', 'Werte', 'AS mit Abzug 2005', 
           'AS ohne Abzug 2005', 'Ehepaare 2005', 'AS mit Abzug 2006', 
           'AS ohne Abzug 2006', 'Ehepaare 2006', 'AS mit Abzug 2007', 
           'AS ohne Abzug 2007', 'Ehepaare 2007', 'AS mit Abzug 2008', 
           'AS ohne Abzug 2008', 'Ehepaare 2008', 'AS mit Abzug 2009', 
           'AS ohne Abzug 2009', 'Ehepaare 2009', 'AS mit Abzug 2010', 
           'AS ohne Abzug 2010', 'Ehepaare 2010', 'AS mit Abzug 2011', 
           'AS ohne Abzug 2011', 'Ehepaare 2011', 'AS mit Abzug 2012', 
           'AS ohne Abzug 2012', 'Ehepaare 2012', 'AS mit Abzug 2013', 
           'AS ohne Abzug 2013', 'Ehepaare 2013', 'AS mit Abzug 2014', 
           'AS ohne Abzug 2014', 'Ehepaare 2014', 'AS mit Abzug 2015', 
           'AS ohne Abzug 2015', 'Ehepaare 2015', 'AS mit Abzug 2016', 
           'AS ohne Abzug 2016', 'Ehepaare 2016', 'AS mit Abzug 2017', 
           'AS ohne Abzug 2017', 'Ehepaare 2017', ]
Tabelle_neu.columns = headers
Tabelle_neu.head(3)

,Einkommensklasse,Werte,AS mit Abzug 2005,AS ohne Abzug 2005,Ehepaare 2005,AS mit Abzug 2006,AS ohne Abzug 2006,Ehepaare 2006,AS mit Abzug 2007,AS ohne Abzug 2007,...,Ehepaare 2014,AS mit Abzug 2015,AS ohne Abzug 2015,Ehepaare 2015,AS mit Abzug 2016,AS ohne Abzug 2016,Ehepaare 2016,AS mit Abzug 2017,AS ohne Abzug 2017,Ehepaare 2017
7,0,Summe von Anzahl,"18,214","79,007","15,337","17,154","78,877","15,672","16,884","79,618",...,"16,450","18,726","80,165","16,087","18,770","80,030","15,789","18,783","79,472","15,225"
8,NaN,Summe von Einfache Steuer Einkommen,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,20000,Summe von Anzahl,"38,886","52,602","29,243","39,289","54,249","28,356","37,048","54,429",...,"26,621","35,320","58,557","27,170","35,406","58,936","26,314","35,486","59,413","26,268"

In [19]:
#überflüssiges raus, erst ab 2007
del Tabelle_neu['AS mit Abzug 2005']
del Tabelle_neu['AS ohne Abzug 2005']
del Tabelle_neu['Ehepaare 2005']
del Tabelle_neu['AS mit Abzug 2006']
del Tabelle_neu['AS ohne Abzug 2006']
del Tabelle_neu['Ehepaare 2006']

In [23]:
# kippen, um die Chose nach Einkommensklasse zu definieren
# Tabelle kippen, um die Einkommensklasse gut anzugeben
Tabelle_gekippt = Tabelle_neu.T
Tabelle_gekippt.head(3)

,7,8,9,10,11,12,13,14,15,16,...,33,34,35,36,37,38,39,40,41,42
Einkommensklasse,0,NaN,20000,NaN,40000,NaN,60000,NaN,80000,NaN,...,500000,NaN,750000,NaN,1000000,NaN,1000001,NaN,Grand Total,NaN
Werte,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,...,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen
AS mit Abzug 2007,"16,884",0,"37,048","13,935,610","59,833","66,899,931","35,678","69,684,380","13,018","38,540,732",...,52,"1,361,864",42,"1,516,410",20,"1,033,981",32,"4,633,958","171,998","250,622,274"

In [26]:
# Headers setzen. EK=Einkommensklasse. Anzahl=Anzahl Steuerzahler dieser Art. Steuerertrag=Summe des Steuerertrags dieser Leute
headers = ['Anzahl EK 0', 'Steuerertrag EK 0', 'Anzahl EK 20000', 'Steuerertrag EK 20000', 
           'Anzahl EK 40000', 'Steuerertrag EK 40000', 'Anzahl EK 60000', 'Steuerertrag EK 60000',
          'Anzahl EK 80000', 'Steuerertrag EK 80000', 'Anzahl EK 100000', 'Steuerertrag EK 100000',
          'Anzahl EK 125000', 'Steuerertrag EK 125000', 'Anzahl EK 150000', 'Steuerertrag EK 150000',
          'Anzahl EK 175000', 'Steuerertrag EK 175000', 'Anzahl EK 200000', 'Steuerertrag EK 200000',
          'Anzahl EK 250000', 'Steuerertrag EK 250000', 'Anzahl EK 300000', 'Steuerertrag EK 300000',
          'Anzahl EK 400000', 'Steuerertrag EK 400000', 'Anzahl EK 500000', 'Steuerertrag EK 500000',
          'Anzahl EK 750000', 'Steuerertrag EK 750000', 'Anzahl EK 1000000', 'Steuerertrag EK 1000000',
          'Anzahl EK 1000001', 'Steuerertrag EK 1000001', 'Total Anzahl', 'Total Steuerertrag',]
Tabelle_gekippt.columns = headers
Tabelle_gekippt.head(4)

,Anzahl EK 0,Steuerertrag EK 0,Anzahl EK 20000,Steuerertrag EK 20000,Anzahl EK 40000,Steuerertrag EK 40000,Anzahl EK 60000,Steuerertrag EK 60000,Anzahl EK 80000,Steuerertrag EK 80000,...,Anzahl EK 500000,Steuerertrag EK 500000,Anzahl EK 750000,Steuerertrag EK 750000,Anzahl EK 1000000,Steuerertrag EK 1000000,Anzahl EK 1000001,Steuerertrag EK 1000001,Total Anzahl,Total Steuerertrag
Einkommensklasse,0,NaN,20000,NaN,40000,NaN,60000,NaN,80000,NaN,...,500000,NaN,750000,NaN,1000000,NaN,1000001,NaN,Grand Total,NaN
Werte,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,...,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen,Summe von Anzahl,Summe von Einfache Steuer Einkommen
AS mit Abzug 2007,"16,884",0,"37,048","13,935,610","59,833","66,899,931","35,678","69,684,380","13,018","38,540,732",...,52,"1,361,864",42,"1,516,410",20,"1,033,981",32,"4,633,958","171,998","250,622,274"
AS ohne Abzug 2007,"79,618",0,"54,429","15,789,693","51,890","58,968,871","27,636","54,184,167","8,484","25,198,123",...,37,"961,061",30,"1,073,123",7,"366,358",14,"1,899,404","227,889","191,210,234"

In [28]:
Tabelle_gekippt_fertig = Tabelle_gekippt[2:]
Tabelle_gekippt_fertig

,Anzahl EK 0,Steuerertrag EK 0,Anzahl EK 20000,Steuerertrag EK 20000,Anzahl EK 40000,Steuerertrag EK 40000,Anzahl EK 60000,Steuerertrag EK 60000,Anzahl EK 80000,Steuerertrag EK 80000,...,Anzahl EK 500000,Steuerertrag EK 500000,Anzahl EK 750000,Steuerertrag EK 750000,Anzahl EK 1000000,Steuerertrag EK 1000000,Anzahl EK 1000001,Steuerertrag EK 1000001,Total Anzahl,Total Steuerertrag
AS mit Abzug 2007,"16,884",0,"37,048","13,935,610","59,833","66,899,931","35,678","69,684,380","13,018","38,540,732",...,52,"1,361,864",42,"1,516,410",20,"1,033,981",32,"4,633,958","171,998","250,622,274"
AS ohne Abzug 2007,"79,618",0,"54,429","15,789,693","51,890","58,968,871","27,636","54,184,167","8,484","25,198,123",...,37,"961,061",30,"1,073,123",7,"366,358",14,"1,899,404","227,889","191,210,234"
Ehepaare 2007,"16,085",0,"26,478","6,929,582","44,383","43,047,533","51,389","90,518,452","38,832","102,103,647",...,374,"9,428,795",346,"12,119,139",118,"6,156,746",121,"17,138,653","228,051","556,701,434"
AS mit Abzug 2008,"15,880",0,"35,034","13,199,991","58,048","65,144,334","36,397","71,284,014","13,591","40,205,875",...,70,"1,771,714",60,"1,980,275",13,"623,541",37,"4,700,320","169,083","254,609,035"
AS ohne Abzug 2008,"79,516",0,"55,384","15,960,604","53,855","61,480,266","30,629","60,114,770","9,808","29,175,980",...,35,"885,163",32,"1,114,804",11,"536,331",10,"1,152,893","235,895","207,484,005"
Ehepaare 2008,"16,070",0,"25,360","6,558,300","42,442","41,273,341","50,869","89,721,922","39,517","103,987,527",...,375,"9,210,296",358,"12,174,485",106,"5,094,668",133,"15,517,114","228,104","568,280,729"
AS mit Abzug 2009,"16,153",0,"34,401","12,928,562","56,633","62,972,277","36,243","70,035,983","13,597","39,551,874",...,62,"1,502,360",58,"1,998,717",18,"767,089",32,"5,688,552","167,284","251,225,876"
AS ohne Abzug 2009,"81,956",0,"55,638","15,952,132","55,223","62,545,938","32,212","62,351,709","10,169","29,694,343",...,46,"1,110,452",37,"1,218,413",19,"841,292",13,"1,153,008","242,547","214,430,970"
Ehepaare 2009,"16,596",0,"27,022","6,811,394","43,087","41,142,413","49,579","84,840,935","38,469","97,581,050",...,396,"9,351,221",360,"11,655,193",111,"5,068,541",159,"17,745,763","228,141","548,980,449"
AS mit Abzug 2010,"16,430",0,"34,348","12,827,383","56,153","62,559,223","36,088","69,757,006","13,850","40,227,160",...,61,"1,503,120",54,"1,681,617",17,"818,958",38,"6,285,700","167,364","252,510,011"
AS ohne Abzug 2010,"82,412",0,"56,760","16,326,625","56,456","64,038,834","33,456","64,738,982","10,818","31,538,585",...,42,"1,022,085",55,"1,795,061",15,"721,164",19,"1,917,164","247,694","224,206,080"
Ehepaare 2010,"16,750",0,"26,735","6,741,476","42,113","40,241,560","49,113","84,057,245","38,578","97,939,317",...,439,"10,325,486",373,"11,988,716",116,"5,455,051",168,"19,883,083","228,010","558,570,638"
AS mit Abzug 2011,"16,498",0,"34,160","12,599,562","55,496","61,535,443","36,124","69,595,953","14,024","40,563,989",...,57,"1,349,648",55,"1,744,566",18,"841,656",36,"5,349,597","167,000","251,454,022"
AS ohne Abzug 2011,"82,856",0,"58,298","16,686,766","57,321","64,809,211","35,177","67,811,088","11,517","33,350,596",...,54,"1,285,782",40,"1,241,580",15,"726,643",15,"1,884,637","253,540","232,811,844"
Ehepaare 2011,"16,706",0,"27,187","6,840,268","41,662","39,514,912","48,512","82,684,810","38,481","96,998,773",...,397,"9,257,704",413,"13,093,668",122,"5,537,626",162,"17,133,465","228,303","556,688,683"
AS mit Abzug 2012,"16,180",0,"33,616","12,243,949","53,928","58,904,539","36,461","68,809,191","14,116","39,855,343",...,71,"1,627,692",52,"1,615,328",20,"979,637",33,"5,811,888","165,229","247,143,291"
AS ohne Abzug 2012,"83,501",0,"59,739","16,981,305","59,234","65,892,922","37,287","70,548,807","12,445","35,205,632",...,61,"1,459,929",43,"1,296,077",20,"932,850",14,"1,941,207","261,112","240,871,437"
Ehepaare 2012,"16,678",0,"27,536","6,871,133","40,969","37,945,467","48,139","79,962,544","38,608","94,756,453",...,436,"9,998,724",400,"12,308,908",129,"5,769,681",154,"16,776,545","228,824","548,793,279"
AS mit Abzug 2013,"16,473",0,"33,498","12,100,308","53,443","58,319,624","37,151","70,202,847","14,459","40,779,399",...,62,"1,398,854",50,"1,621,428",17,"806,988",32,"5,690,369","166,245","249,814,087"
AS ohne Abzug 2013,"83,389",0,"60,592","17,149,742","60,511","67,392,804","38,701","73,245,345","13,112","37,093,367",...,48,"1,130,246",47,"1,487,837",20,"907,039",25,"2,983,883","265,846","251,274,663"
Ehepaare 2013,"16,819",0,"27,797","6,893,847","40,613","37,611,768","47,670","79,230,062","38,725","95,025,218",...,458,"10,459,892",403,"12,498,246",126,"5,617,100",147,"14,600,458","229,296","551,110,826"
AS mit Abzug 2014,"18,885",0,"35,253","12,706,981","57,088","62,813,406","41,844","79,364,809","16,227","45,848,508",...,81,"1,859,631",58,"1,815,266",19,"863,504",40,"7,389,175","181,359","275,827,208"
AS ohne Abzug 2014,"80,416",0,"57,244","16,018,509","56,129","62,595,297","38,344","72,517,860","13,048","36,796,163",...,55,"1,327,246",54,"1,727,391",11,"539,707",26,"2,807,619","254,545","243,560,304"
Ehepaare 2014,"16,450",0,"26,621","6,615,180","39,029","36,219,661","47,009","78,263,694","39,512","97,097,558",...,480,"10,663,859",415,"12,942,144",121,"5,388,458",170,"17,151,595","229,424","568,562,889"
AS mit Abzug 2015,"18,726",0,"35,320","12,664,221","57,007","62,774,509","42,229","80,104,756","16,689","47,180,792",...,71,"1,674,938",77,"2,424,216",18,"840,690",41,"7,218,122","182,699","281,569,214"
AS ohne Abzug 2015,"80,165",0,"58,557","16,437,678","57,429","64,154,639","39,777","75,314,733","13,719","38,737,552",...,52,"1,244,325",48,"1,517,365",25,"1,169,192",24,"3,835,682","259,724","255,212,257"
Ehepaare 2015,"16,087",0,"27,170","6,790,538","38,303","35,644,158","47,089","78,532,485","39,661","97,632,027",...,520,"11,815,728",441,"13,594,178",110,"4,739,721",199,"19,204,444","231,199","583,158,803"
AS mit Abzug 2016,"18,770",0,"35,406","12,570,711","56,108","61,946,660","42,536","80,808,448","17,204","48,712,892",...,95,"2,273,801",77,"2,437,717",22,"964,782",46,"7,446,873","183,292","285,956,990"
AS ohne Abzug 2016,"80,030",0,"58,936","16,501,981","57,354","64,217,830","41,864","79,182,521","14,473","40,800,982",...,70,"1,697,113",60,"1,833,929",26,"1,214,100",27,"2,957,145","263,227","263,537,742"
Ehepaare 2016,"15,789",0,"26,314","6,595,779","37,889","35,326,973","46,403","77,420,327","40,236","99,036,388",...,490,"11,034,374",457,"13,930,912",132,"5,840,120",205,"22,415,736","230,895","595,679,522"
AS mit Abzug 2017,"18,783",0,"35,486","12,611,413","56,262","62,116,850","42,824","81,369,086","17,419","49,292,443",...,73,"1,692,381",80,"2,451,421",27,"1,243,944",37,"6,507,817","184,293","288,063,239"
AS ohne Abzug 2017,"79,472",0,"59,413","16,602,815","58,055","64,974,840","42,767","80,918,370","14,931","42,054,247",...,55,"1,366,333",62,"1,818,669",31,"1,350,785",35,"3,930,617","265,578","269,811,782"
Ehepaare 2017,"15,225",0,"26,268","6,622,141","37,055","34,540,657","46,251","77,207,821","40,698","100,296,786",...,545,"12,326,645",468,"14,057,328",154,"6,818,491",212,"23,371,065","230,600","603,593,842"

Jetzt muss ich das DF putzen. So viele Zeilen - die mag ich nicht jede einzeln durchgehen mit so einer geputzt-Definition, wie ich das zuvor gemacht habe. Auf https://stackoverflow.com/questions/38516481/trying-to-remove-commas-and-dollars-signs-with-pandas-in-python finde ich folgenden Code-Vorschlag, den ich ausprobiere:
 
 if you want to operate on multiple columns, put them in a list like so:
 
cols = ['col1', 'col2', ..., 'colN']

pass them to df.replace(), specifying each char and it's replacement:

df[cols] = df[cols].replace({'\$': '', ',': ''}, regex=True)

In [30]:
cols = ['Anzahl EK 0', 'Steuerertrag EK 0', 'Anzahl EK 20000', 'Steuerertrag EK 20000', 
           'Anzahl EK 40000', 'Steuerertrag EK 40000', 'Anzahl EK 60000', 'Steuerertrag EK 60000',
          'Anzahl EK 80000', 'Steuerertrag EK 80000', 'Anzahl EK 100000', 'Steuerertrag EK 100000',
          'Anzahl EK 125000', 'Steuerertrag EK 125000', 'Anzahl EK 150000', 'Steuerertrag EK 150000',
          'Anzahl EK 175000', 'Steuerertrag EK 175000', 'Anzahl EK 200000', 'Steuerertrag EK 200000',
          'Anzahl EK 250000', 'Steuerertrag EK 250000', 'Anzahl EK 300000', 'Steuerertrag EK 300000',
          'Anzahl EK 400000', 'Steuerertrag EK 400000', 'Anzahl EK 500000', 'Steuerertrag EK 500000',
          'Anzahl EK 750000', 'Steuerertrag EK 750000', 'Anzahl EK 1000000', 'Steuerertrag EK 1000000',
          'Anzahl EK 1000001', 'Steuerertrag EK 1000001', 'Total Anzahl', 'Total Steuerertrag',]

Tabelle_gekippt_fertig[cols] = Tabelle_gekippt_fertig[cols].replace({' ': '', ',':''}, regex = True)

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [31]:
Tabelle_gekippt_fertig

,Anzahl EK 0,Steuerertrag EK 0,Anzahl EK 20000,Steuerertrag EK 20000,Anzahl EK 40000,Steuerertrag EK 40000,Anzahl EK 60000,Steuerertrag EK 60000,Anzahl EK 80000,Steuerertrag EK 80000,...,Anzahl EK 500000,Steuerertrag EK 500000,Anzahl EK 750000,Steuerertrag EK 750000,Anzahl EK 1000000,Steuerertrag EK 1000000,Anzahl EK 1000001,Steuerertrag EK 1000001,Total Anzahl,Total Steuerertrag
AS mit Abzug 2007,16884,0,37048,13935610,59833,66899931,35678,69684380,13018,38540732,...,52,1361864,42,1516410,20,1033981,32,4633958,171998,250622274
AS ohne Abzug 2007,79618,0,54429,15789693,51890,58968871,27636,54184167,8484,25198123,...,37,961061,30,1073123,7,366358,14,1899404,227889,191210234
Ehepaare 2007,16085,0,26478,6929582,44383,43047533,51389,90518452,38832,102103647,...,374,9428795,346,12119139,118,6156746,121,17138653,228051,556701434
AS mit Abzug 2008,15880,0,35034,13199991,58048,65144334,36397,71284014,13591,40205875,...,70,1771714,60,1980275,13,623541,37,4700320,169083,254609035
AS ohne Abzug 2008,79516,0,55384,15960604,53855,61480266,30629,60114770,9808,29175980,...,35,885163,32,1114804,11,536331,10,1152893,235895,207484005
Ehepaare 2008,16070,0,25360,6558300,42442,41273341,50869,89721922,39517,103987527,...,375,9210296,358,12174485,106,5094668,133,15517114,228104,568280729
AS mit Abzug 2009,16153,0,34401,12928562,56633,62972277,36243,70035983,13597,39551874,...,62,1502360,58,1998717,18,767089,32,5688552,167284,251225876
AS ohne Abzug 2009,81956,0,55638,15952132,55223,62545938,32212,62351709,10169,29694343,...,46,1110452,37,1218413,19,841292,13,1153008,242547,214430970
Ehepaare 2009,16596,0,27022,6811394,43087,41142413,49579,84840935,38469,97581050,...,396,9351221,360,11655193,111,5068541,159,17745763,228141,548980449
AS mit Abzug 2010,16430,0,34348,12827383,56153,62559223,36088,69757006,13850,40227160,...,61,1503120,54,1681617,17,818958,38,6285700,167364,252510011
AS ohne Abzug 2010,82412,0,56760,16326625,56456,64038834,33456,64738982,10818,31538585,...,42,1022085,55,1795061,15,721164,19,1917164,247694,224206080
Ehepaare 2010,16750,0,26735,6741476,42113,40241560,49113,84057245,38578,97939317,...,439,10325486,373,11988716,116,5455051,168,19883083,228010,558570638
AS mit Abzug 2011,16498,0,34160,12599562,55496,61535443,36124,69595953,14024,40563989,...,57,1349648,55,1744566,18,841656,36,5349597,167000,251454022
AS ohne Abzug 2011,82856,0,58298,16686766,57321,64809211,35177,67811088,11517,33350596,...,54,1285782,40,1241580,15,726643,15,1884637,253540,232811844
Ehepaare 2011,16706,0,27187,6840268,41662,39514912,48512,82684810,38481,96998773,...,397,9257704,413,13093668,122,5537626,162,17133465,228303,556688683
AS mit Abzug 2012,16180,0,33616,12243949,53928,58904539,36461,68809191,14116,39855343,...,71,1627692,52,1615328,20,979637,33,5811888,165229,247143291
AS ohne Abzug 2012,83501,0,59739,16981305,59234,65892922,37287,70548807,12445,35205632,...,61,1459929,43,1296077,20,932850,14,1941207,261112,240871437
Ehepaare 2012,16678,0,27536,6871133,40969,37945467,48139,79962544,38608,94756453,...,436,9998724,400,12308908,129,5769681,154,16776545,228824,548793279
AS mit Abzug 2013,16473,0,33498,12100308,53443,58319624,37151,70202847,14459,40779399,...,62,1398854,50,1621428,17,806988,32,5690369,166245,249814087
AS ohne Abzug 2013,83389,0,60592,17149742,60511,67392804,38701,73245345,13112,37093367,...,48,1130246,47,1487837,20,907039,25,2983883,265846,251274663
Ehepaare 2013,16819,0,27797,6893847,40613,37611768,47670,79230062,38725,95025218,...,458,10459892,403,12498246,126,5617100,147,14600458,229296,551110826
AS mit Abzug 2014,18885,0,35253,12706981,57088,62813406,41844,79364809,16227,45848508,...,81,1859631,58,1815266,19,863504,40,7389175,181359,275827208
AS ohne Abzug 2014,80416,0,57244,16018509,56129,62595297,38344,72517860,13048,36796163,...,55,1327246,54,1727391,11,539707,26,2807619,254545,243560304
Ehepaare 2014,16450,0,26621,6615180,39029,36219661,47009,78263694,39512,97097558,...,480,10663859,415,12942144,121,5388458,170,17151595,229424,568562889
AS mit Abzug 2015,18726,0,35320,12664221,57007,62774509,42229,80104756,16689,47180792,...,71,1674938,77,2424216,18,840690,41,7218122,182699,281569214
AS ohne Abzug 2015,80165,0,58557,16437678,57429,64154639,39777,75314733,13719,38737552,...,52,1244325,48,1517365,25,1169192,24,3835682,259724,255212257
Ehepaare 2015,16087,0,27170,6790538,38303,35644158,47089,78532485,39661,97632027,...,520,11815728,441,13594178,110,4739721,199,19204444,231199,583158803
AS mit Abzug 2016,18770,0,35406,12570711,56108,61946660,42536,80808448,17204,48712892,...,95,2273801,77,2437717,22,964782,46,7446873,183292,285956990
AS ohne Abzug 2016,80030,0,58936,16501981,57354,64217830,41864,79182521,14473,40800982,...,70,1697113,60,1833929,26,1214100,27,2957145,263227,263537742
Ehepaare 2016,15789,0,26314,6595779,37889,35326973,46403,77420327,40236,99036388,...,490,11034374,457,13930912,132,5840120,205,22415736,230895,595679522
AS mit Abzug 2017,18783,0,35486,12611413,56262,62116850,42824,81369086,17419,49292443,...,73,1692381,80,2451421,27,1243944,37,6507817,184293,288063239
AS ohne Abzug 2017,79472,0,59413,16602815,58055,64974840,42767,80918370,14931,42054247,...,55,1366333,62,1818669,31,1350785,35,3930617,265578,269811782
Ehepaare 2017,15225,0,26268,6622141,37055,34540657,46251,77207821,40698,100296786,...,545,12326645,468,14057328,154,6818491,212,23371065,230600,603593842

In [33]:
Tabelle_fertig = Tabelle_gekippt_fertig.astype(int)

In [34]:
Tabelle_fertig.dtypes

Anzahl EK 0                int32
Steuerertrag EK 0          int32
Anzahl EK 20000            int32
Steuerertrag EK 20000      int32
Anzahl EK 40000            int32
Steuerertrag EK 40000      int32
Anzahl EK 60000            int32
Steuerertrag EK 60000      int32
Anzahl EK 80000            int32
Steuerertrag EK 80000      int32
Anzahl EK 100000           int32
Steuerertrag EK 100000     int32
Anzahl EK 125000           int32
Steuerertrag EK 125000     int32
Anzahl EK 150000           int32
Steuerertrag EK 150000     int32
Anzahl EK 175000           int32
Steuerertrag EK 175000     int32
Anzahl EK 200000           int32
Steuerertrag EK 200000     int32
Anzahl EK 250000           int32
Steuerertrag EK 250000     int32
Anzahl EK 300000           int32
Steuerertrag EK 300000     int32
Anzahl EK 400000           int32
Steuerertrag EK 400000     int32
Anzahl EK 500000           int32
Steuerertrag EK 500000     int32
Anzahl EK 750000           int32
Steuerertrag EK 750000     int32
Anzahl EK 1000000          int32
Steuerertrag EK 1000000    int32
Anzahl EK 1000001          int32
Steuerertrag EK 1000001    int32
Total Anzahl               int32
Total Steuerertrag         int32
dtype: object

# okay. Das ist jetzt gerade voll der geile Flash. Zeit, um Feierabend zu machen. Und hey - anderthalb Stunden, und da ist das Dataframe! Es geht immer schneller. Und eventuell muss ich auch gar nicht das Zeug auseinander fingerln, um damit zu arbeiten. Ich arbeite ja mit den einzelnen Kolonnen, wenn ich Sachen ausrechne. Und bin vielleicht froh, wenn ich das Zeug alles an einem Ort habe.

In [ ]:
#zurechtschneiden
test_df = Einkommenssteuer_2007[0].df
Einkommen_07 = test_df[9:]
einkommen_2007 = Einkommen_07.head(18)

# Headers setzen
headers = ['Einkommen von bis', 'Anzahl Alleinstehende 2007', 'EK Alleinstehende', 
           'Betrag Kantonssteuer Alleinstehende 2007', 'Anzahl Ehepaare 2007', 'EK Ehepaare', 
           'Betrag Kantonssteuer Ehepaare 2007', 'Total Anzahl Steuerzahler', 'Total EK', 
           'Total Betrag Kantonssteuer']
einkommen_2007.columns = headers

# überflüssige Kolonnen löschen
del einkommen_2007['EK Alleinstehende']
del einkommen_2007['EK Ehepaare']
del einkommen_2007['Total EK']
del einkommen_2007['Total Betrag Kantonssteuer']
del einkommen_2007['Total Anzahl Steuerzahler']

# aus einer Kolonne zwei Kolonnen machen, Headers setzen und die überflüssige Kolonne löschen
getrennte_kolonnen07 = einkommen_2007['Einkommen von bis'].str.split('\n', 1, expand=True) 
headers = ['Einkommen ab CHF', 'streichen']
getrennte_kolonnen07.columns = headers
del getrennte_kolonnen07['streichen']

#die beiden df einkommen_2007 und getrennte_kolonnen07 zusammenfügen
Einkommen_2007_neu = pd.concat([getrennte_kolonnen07, einkommen_2007], axis=1)

# überflüssige Kolonne weg
del Einkommen_2007_neu['Einkommen von bis']

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
Einkommen_2007_neu['Einkommen ab CHF'] = Einkommen_2007_neu['Einkommen ab CHF'].apply(geputzt)
Einkommen_2007_neu['Anzahl Alleinstehende 2007'] = Einkommen_2007_neu['Anzahl Alleinstehende 2007'].apply(geputzt)
Einkommen_2007_neu['Betrag Kantonssteuer Alleinstehende 2007'] = Einkommen_2007_neu['Betrag Kantonssteuer Alleinstehende 2007'].apply(geputzt)
Einkommen_2007_neu['Anzahl Ehepaare 2007'] = Einkommen_2007_neu['Anzahl Ehepaare 2007'].apply(geputzt)
Einkommen_2007_neu['Betrag Kantonssteuer Ehepaare 2007'] = Einkommen_2007_neu['Betrag Kantonssteuer Ehepaare 2007'].apply(geputzt)

# Tabelle um 90 Grad drehen
Einkommen_2007_neu = Einkommen_2007_neu.T

# headers neu
headers = ['Einkommen 0 CHF', 'Einkommen 100-20000 CHF', 'Einkommen 20100-40000 CHF', 'Einkommen 40100-60000 CHF',
           'Einkommen 60100-80000 CHF', 'Einkommen 80100-100000 CHF', 'Einkommen 100100-125000 CHF', 
           'Einkommen 125100-150000 CHF', 'Einkommen 150100-175000 CHF', 'Einkommen 175100-200000 CHF',
           'Einkommen 200100-250000 CHF', 'Einkommen 250100-300000 CHF', 'Einkommen ab 300100-400000 CHF',
           'Einkommen 400100-500000 CHF', 'Einkommen 500100-750000 CHF', 'Einkommen 750100-1000000 CHF',
           'Einkommen ab 1000100 CHF', 'Total']
Einkommen_2007_neu.columns = headers

# erste Zeile weg
Einkommen07 = Einkommen_2007_neu[1:]

# Objekte in Integers verwandeln, damit ich die Zahlen addieren kann
Einkommen07 = Einkommen07.astype(int)

# Die einzelnen Zeilen rausziehen
Betrag_Alleinstehende07 = Einkommen07.drop(['Anzahl Ehepaare 2007', 'Anzahl Alleinstehende 2007',
                                            'Betrag Kantonssteuer Ehepaare 2007'])

Anzahl_Alleinstehende07 = Einkommen07.drop(['Anzahl Ehepaare 2007', 'Betrag Kantonssteuer Alleinstehende 2007',
                                            'Betrag Kantonssteuer Ehepaare 2007'])

Anzahl_Ehepaare07 = Einkommen07.drop(['Anzahl Alleinstehende 2007', 'Betrag Kantonssteuer Alleinstehende 2007',
                                      'Betrag Kantonssteuer Ehepaare 2007'])

Betrag_Ehepaare07 = Einkommen07.drop(['Anzahl Ehepaare 2007', 'Anzahl Alleinstehende 2007',
                                      'Betrag Kantonssteuer Alleinstehende 2007'])

Einkommen07