In [1]:
import pandas as pd
%matplotlib inline

In [2]:
Alleinstehendenabzug = pd.read_csv('2020 Rutschi BZ CAS - Pivot.csv')
Alleinstehendenabzug

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Steuerjahr,Zivilstand,Abzug Alleinstehend,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2005,NaN,NaN,2006,NaN,NaN,2007,NaN,...,NaN,2015,NaN,NaN,2016,NaN,NaN,2017,NaN,NaN
5,NaN,NaN,AS,NaN,VH,AS,NaN,VH,AS,NaN,...,VH,AS,NaN,VH,AS,NaN,VH,AS,NaN,VH
6,Einkommens-Klasse,Values,Ja,Nein,Nein,Ja,Nein,Nein,Ja,Nein,...,Nein,Ja,Nein,Nein,Ja,Nein,Nein,Ja,Nein,Nein
7,0,Summe von Anzahl,"18,214","79,007","15,337","17,154","78,877","15,672","16,884","79,618",...,"16,450","18,726","80,165","16,087","18,770","80,030","15,789","18,783","79,472","15,225"
8,NaN,Summe von Einfache Steuer Einkommen,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,20000,Summe von Anzahl,"38,886","52,602","29,243","39,289","54,249","28,356","37,048","54,429",...,"26,621","35,320","58,557","27,170","35,406","58,936","26,314","35,486","59,413","26,268"
10,NaN,Summe von Einfache Steuer Einkommen,"14,643,907","15,396,703","7,788,340","14,715,553","15,850,601","7,471,943","13,935,610","15,789,693",...,"6,615,180","12,664,221","16,437,678","6,790,538","12,570,711","16,501,981","6,595,779","12,611,413","16,602,815","6,622,141"
11,40000,Summe von Anzahl,"61,464","49,362","47,797","60,571","50,952","46,417","59,833","51,890",...,"39,029","57,007","57,429","38,303","56,108","57,354","37,889","56,262","58,055","37,055"
12,NaN,Summe von Einfache Steuer Einkommen,"68,400,992","55,608,538","46,085,519","67,520,304","57,610,188","44,734,141","66,899,931","58,968,871",...,"36,219,661","62,774,509","64,154,639","35,644,158","61,946,660","64,217,830","35,326,973","62,116,850","64,974,840","34,540,657"
13,60000,Summe von Anzahl,"33,607","23,388","52,687","34,137","25,453","52,259","35,678","27,636",...,"47,009","42,229","39,777","47,089","42,536","41,864","46,403","42,824","42,767","46,251"
14,NaN,Summe von Einfache Steuer Einkommen,"65,554,401","45,772,871","92,592,893","66,609,760","49,912,451","91,912,154","69,684,380","54,184,167",...,"78,263,694","80,104,756","75,314,733","78,532,485","80,808,448","79,182,521","77,420,327","81,369,086","80,918,370","77,207,821"
15,80000,Summe von Anzahl,"11,696","6,942","37,147","11,976","7,607","37,490","13,018","8,484",...,"39,512","16,689","13,719","39,661","17,204","14,473","40,236","17,419","14,931","40,698"
16,NaN,Summe von Einfache Steuer Einkommen,"34,589,155","20,695,861","97,573,412","35,376,549","22,650,374","98,533,249","38,540,732","25,198,123",...,"97,097,558","47,180,792","38,737,552","97,632,027","48,712,892","40,800,982","99,036,388","49,292,443","42,054,247","100,296,786"
17,100000,Summe von Anzahl,"4,280","2,316","20,003","4,511","2,664","20,552","4,916","2,958",...,"24,826","6,556","5,126","25,478","6,815","5,301","25,638","6,902","5,608","25,692"
18,NaN,Summe von Einfache Steuer Einkommen,"17,360,976","9,469,157","72,024,072","18,255,684","10,855,443","74,023,937","19,907,803","12,059,310",...,"83,000,821","25,313,013","19,687,873","85,188,475","26,288,096","20,258,658","85,683,157","26,657,406","21,455,908","85,926,990"
19,125000,Summe von Anzahl,"1,979","1,142","12,182","2,076","1,178","12,785","2,244","1,382",...,"15,953","3,048","2,437","16,422","3,189","2,619","17,032","3,277","2,620","17,375"
20,NaN,Summe von Einfache Steuer Einkommen,"10,449,545","6,107,450","57,679,957","10,990,992","6,291,524","60,748,031","11,838,791","7,353,503",...,"70,359,271","15,374,356","12,270,625","72,469,677","16,072,850","13,146,133","75,147,163","16,537,725","13,166,084","76,765,544"
21,150000,Summe von Anzahl,808,428,"5,687",874,486,"5,756",934,603,...,"7,923","1,221","1,036","8,312","1,322","1,078","8,445","1,317","1,085","8,566"
22,NaN,Summe von Einfache Steuer Einkommen,"5,482,301","2,920,819","34,737,923","5,914,488","3,315,786","35,191,253","6,308,640","4,118,418",...,"45,204,271","7,911,517","6,680,818","47,433,178","8,567,117","6,942,377","48,182,566","8,485,845","6,958,090","48,945,541"
23,175000,Summe von Anzahl,410,225,"2,784",419,266,"2,966",424,266,...,"4,042",606,502,"4,327",618,510,"4,381",655,525,"4,503"
24,NaN,Summe von Einfache Steuer Einkommen,"3,405,962","1,894,046","20,911,089","3,470,723","2,219,198","22,306,796","3,514,293","2,216,610",...,"28,636,502","4,749,931","3,902,911","30,680,063","4,825,075","3,960,686","31,080,325","5,123,993","4,075,993","31,835,918"
25,200000,Summe von Anzahl,226,139,"1,563",240,175,"1,611",276,180,...,"2,263",333,271,"2,366",358,287,"2,540",366,321,"2,528"
26,NaN,Summe von Einfache Steuer Einkommen,"2,224,996","1,384,941","14,017,646","2,370,457","1,736,007","14,454,525","2,722,998","1,777,766",...,"19,160,539","3,076,433","2,521,476","20,072,549","3,318,963","2,663,181","21,486,641","3,380,946","2,967,058","21,369,537"
27,250000,Summe von Anzahl,246,136,"1,653",279,158,"1,770",291,182,...,"2,410",356,263,"2,444",356,277,"2,510",403,266,"2,631"
28,NaN,Summe von Einfache Steuer Einkommen,"2,960,665","1,662,118","18,318,674","3,351,735","1,914,737","19,588,536","3,495,383","2,204,359",...,"25,047,151","4,022,340","3,001,906","25,314,005","4,014,279","3,122,518","26,077,040","4,533,547","2,920,869","27,395,087"
29,300000,Summe von Anzahl,118,62,785,133,83,851,177,92,...,"1,179",227,143,"1,173",214,152,"1,244",191,175,"1,243"
30,NaN,Summe von Einfache Steuer Einkommen,"1,799,831","943,026","11,098,608","2,026,289","1,272,946","12,025,837","2,692,313","1,406,180",...,"15,513,270","3,150,179","1,988,953","15,435,620","2,999,122","2,127,330","16,231,768","2,629,087","2,448,502","16,334,575"
31,400000,Summe von Anzahl,121,72,733,119,69,774,129,81,...,"1,021",174,150,"1,097",156,163,"1,190",191,157,"1,186"
32,NaN,Summe von Einfache Steuer Einkommen,"2,355,819","1,419,284","13,614,694","2,335,084","1,370,485","14,450,639","2,535,188","1,633,288",...,"17,298,915","3,089,202","2,746,528","18,611,958","2,709,604","2,911,259","20,190,255","3,429,334","2,802,600","19,779,718"
33,500000,Summe von Anzahl,46,36,296,55,32,345,52,37,...,480,71,52,520,95,70,490,73,55,545
34,NaN,Summe von Einfache Steuer Einkommen,"1,203,067","937,592","7,442,455","1,439,320","848,434","8,688,126","1,361,864","961,061",...,"10,663,859","1,674,938","1,244,325","11,815,728","2,273,801","1,697,113","11,034,374","1,692,381","1,366,333","12,326,645"
35,750000,Summe von Anzahl,41,20,286,34,23,303,42,30,...,415,77,48,441,77,60,457,80,62,468
36,NaN,Summe von Einfache Steuer Einkommen,"1,455,194","726,709","10,038,240","1,223,414","858,814","10,621,349","1,516,410","1,073,123",...,"12,942,144","2,424,216","1,517,365","13,594,178","2,437,717","1,833,929","13,930,912","2,451,421","1,818,669","14,057,328"
37,1000000,Summe von Anzahl,16,15,81,19,6,83,20,7,...,121,18,25,110,22,26,132,27,31,154
38,NaN,Summe von Einfache Steuer Einkommen,"843,530","791,351","4,290,242","1,015,032","328,220","4,325,763","1,033,981","366,358",...,"5,388,458","840,690","1,169,192","4,739,721","964,782","1,214,100","5,840,120","1,243,944","1,350,785","6,818,491"
39,1000001,Summe von Anzahl,21,8,120,29,9,127,32,14,...,170,41,24,199,46,27,205,37,35,212
40,NaN,Summe von Einfache Steuer Einkommen,"2,650,452","1,034,312","20,407,998","3,842,773","1,126,769","16,559,668","4,633,958","1,899,404",...,"17,151,595","7,218,122","3,835,682","19,204,444","7,446,873","2,957,145","22,415,736","6,507,817","3,930,617","23,371,065"
41,Grand Total,Summe von Anzahl,"172,179","215,900","228,384","171,915","222,287","228,117","171,998","227,889",...,"229,424","182,699","259,724","231,199","183,292","263,227","230,895","184,293","265,578","230,600"
42,NaN,Summe von Einfache Steuer Einkommen,"235,380,792","166,764,779","528,621,763","240,458,155","178,161,976","535,635,947","250,622,274","191,210,234",...,"568,562,889","281,569,214","255,212,257","583,158,803","285,956,990","263,537,742","595,679,522","288,063,239","269,811,782","603,593,842"
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wachstum seit 2005,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0%,23.0%,1.0%

In [ ]:
#zurechtschneiden
test_df = Einkommenssteuer_2007[0].df
Einkommen_07 = test_df[9:]
einkommen_2007 = Einkommen_07.head(18)

# Headers setzen
headers = ['Einkommen von bis', 'Anzahl Alleinstehende 2007', 'EK Alleinstehende', 
           'Betrag Kantonssteuer Alleinstehende 2007', 'Anzahl Ehepaare 2007', 'EK Ehepaare', 
           'Betrag Kantonssteuer Ehepaare 2007', 'Total Anzahl Steuerzahler', 'Total EK', 
           'Total Betrag Kantonssteuer']
einkommen_2007.columns = headers

# überflüssige Kolonnen löschen
del einkommen_2007['EK Alleinstehende']
del einkommen_2007['EK Ehepaare']
del einkommen_2007['Total EK']
del einkommen_2007['Total Betrag Kantonssteuer']
del einkommen_2007['Total Anzahl Steuerzahler']

# aus einer Kolonne zwei Kolonnen machen, Headers setzen und die überflüssige Kolonne löschen
getrennte_kolonnen07 = einkommen_2007['Einkommen von bis'].str.split('\n', 1, expand=True) 
headers = ['Einkommen ab CHF', 'streichen']
getrennte_kolonnen07.columns = headers
del getrennte_kolonnen07['streichen']

#die beiden df einkommen_2007 und getrennte_kolonnen07 zusammenfügen
Einkommen_2007_neu = pd.concat([getrennte_kolonnen07, einkommen_2007], axis=1)

# überflüssige Kolonne weg
del Einkommen_2007_neu['Einkommen von bis']

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
Einkommen_2007_neu['Einkommen ab CHF'] = Einkommen_2007_neu['Einkommen ab CHF'].apply(geputzt)
Einkommen_2007_neu['Anzahl Alleinstehende 2007'] = Einkommen_2007_neu['Anzahl Alleinstehende 2007'].apply(geputzt)
Einkommen_2007_neu['Betrag Kantonssteuer Alleinstehende 2007'] = Einkommen_2007_neu['Betrag Kantonssteuer Alleinstehende 2007'].apply(geputzt)
Einkommen_2007_neu['Anzahl Ehepaare 2007'] = Einkommen_2007_neu['Anzahl Ehepaare 2007'].apply(geputzt)
Einkommen_2007_neu['Betrag Kantonssteuer Ehepaare 2007'] = Einkommen_2007_neu['Betrag Kantonssteuer Ehepaare 2007'].apply(geputzt)

# Tabelle um 90 Grad drehen
Einkommen_2007_neu = Einkommen_2007_neu.T

# headers neu
headers = ['Einkommen 0 CHF', 'Einkommen 100-20000 CHF', 'Einkommen 20100-40000 CHF', 'Einkommen 40100-60000 CHF',
           'Einkommen 60100-80000 CHF', 'Einkommen 80100-100000 CHF', 'Einkommen 100100-125000 CHF', 
           'Einkommen 125100-150000 CHF', 'Einkommen 150100-175000 CHF', 'Einkommen 175100-200000 CHF',
           'Einkommen 200100-250000 CHF', 'Einkommen 250100-300000 CHF', 'Einkommen ab 300100-400000 CHF',
           'Einkommen 400100-500000 CHF', 'Einkommen 500100-750000 CHF', 'Einkommen 750100-1000000 CHF',
           'Einkommen ab 1000100 CHF', 'Total']
Einkommen_2007_neu.columns = headers

# erste Zeile weg
Einkommen07 = Einkommen_2007_neu[1:]

# Objekte in Integers verwandeln, damit ich die Zahlen addieren kann
Einkommen07 = Einkommen07.astype(int)

# Die einzelnen Zeilen rausziehen
Betrag_Alleinstehende07 = Einkommen07.drop(['Anzahl Ehepaare 2007', 'Anzahl Alleinstehende 2007',
                                            'Betrag Kantonssteuer Ehepaare 2007'])

Anzahl_Alleinstehende07 = Einkommen07.drop(['Anzahl Ehepaare 2007', 'Betrag Kantonssteuer Alleinstehende 2007',
                                            'Betrag Kantonssteuer Ehepaare 2007'])

Anzahl_Ehepaare07 = Einkommen07.drop(['Anzahl Alleinstehende 2007', 'Betrag Kantonssteuer Alleinstehende 2007',
                                      'Betrag Kantonssteuer Ehepaare 2007'])

Betrag_Ehepaare07 = Einkommen07.drop(['Anzahl Ehepaare 2007', 'Anzahl Alleinstehende 2007',
                                      'Betrag Kantonssteuer Alleinstehende 2007'])

Einkommen07