## Erster Test mit der Einkommenssteuer

Ich beginne hier wieder mal zu schauen, was ich so habe punkto Einkommenssteuer. Weil ich mit der fucking Gewinnsteuer gerade nicht weiterkomme.

In [21]:
import camelot
import tabula
import pandas as pd

In [22]:
Einkommenssteuer_2007 = camelot.read_pdf("Einkommen_2007.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

UserWarning: No tables found in table area 1 [stream.py:361]

In [31]:
Einkommenssteuer_2007[0].df

,0,1,2,3,4,5,6,7,8,9
0,,,Einkommenssteuern der natürlichen Personen - I...,,,,,,,
1,,,,,,,Steuerjahr - Année fiscale 2007,,,
2,,Einkommensklassen nach Tarif - Steuerjahr 2007,,,,,,,,
3,steuerbares,,,,,,,,,
4,,,Alleinstehende,,,Ehepaare,,,Total,
5,Einkommen,,,,,,,,,
6,,Anzahl,Steuerbares,Beträge,Anzahl,Steuerbares,Beträge,Anzahl,Steuerbares,Beträge
7,von\nbis,,,,,,,,,
8,,Steuerpflichtige,Einkommen,Kantonssteuer,Steuerpflichtige,Einkommen,Kantonssteuer,Steuerpflichtige,Einkommen,Kantonssteuer
9,0\n0,96'546,0,0,16'092,0,0,112'638,0,
10,100\n \n20'000,91'488,956'164'700,90'950'139,26'479,256'922'800,21'202'526,117'967,1'213'087'500,112'152'665
11,20'100\n \n40'000,111'731,3'377'405'400,385'187'702,44'385,1'359'917'500,131'732'072,156'116,4'737'322'900,516'919'773
12,40'100\n \n60'000,63'313,3'059'125'700,379'035'625,51'389,2'571'624'400,276'984'498,114'702,5'630'750'100,656'020'124
13,60'100\n \n80'000,21'505,1'471'156'000,195'074'286,38'829,2'688'343'800,312'414'215,60'334,4'159'499'800,507'488'501
14,80'100\n \n100'000,7'871,697'696'800,97'784'261,21'638,1'927'964'800,238'611'877,29'509,2'625'661'600,336'396'138
15,100'100\n \n125'000,3'626,400'253'300,58'718'513,13'322,1'477'629'400,193'291'527,16'948,1'877'882'700,252'010'040
16,125'100\n \n150'000,1'537,208'923'200,31'906'800,6'346,864'554'400,118'665'856,7'883,1'073'477'600,150'572'656
17,150'100\n \n175'000,692,111'429'300,17'585'474,3'216,518'796'700,73'985'784,3'908,630'226'000,
18,175'100\n \n200'000,456,85'261'900,13'772'337,1'835,342'276'500,50'306'552,2'291,427'538'400,
19,200'100\n \n250'000,472,104'527'900,17'405'488,1'828,406'365'500,62'023'346,2'300,510'893'400,
20,250'100\n \n300'000,268,73'150'700,12'496'769,914,249'552'100,39'763'901,1'182,322'702'800,
21,300'100\n \n400'000,210,72'208'500,12'751'283,826,283'566'500,47'124'539,1'036,355'775'000,
22,400'100\n \n500'000,90,39'684'000,7'186'064,378,168'183'700,29'161'223,468,207'867'700,
23,500'100\n \n750'000,71,42'167'800,7'825'985,345,205'573'900,36'981'177,416,247'741'700,
24,750'100\n \n1'000'000,27,22'624'800,4'285'037,117,100'778'200,18'697'408,144,123'403'000,
25,1'000'100\n+,46,100'155'000,19'573'493,122,271'992'500,52'740'406,168,372'147'500,
26,Total,399'949,10'821'935'000,1'351'539'258,228'061,13'694'042'700,1'703'686'908,628'010,24'515'977'700,3'055'226'166
27,,Einkommensklassen nach Berufscode - Steuerjahr...,,,,,,,,
28,steuerbares,,,,,Selbstständig Erwerbende,,,,
29,,,Unselbstständig Erwerbende,,,,,,Rentner,
30,Einkommen,,,,,(inkl. Landwirte),,,,
31,,Anzahl,Steuerbares,Beträge,Anzahl,Steuerbares,Beträge,Anzahl,Steuerbares,Beträge
32,von\nbis,,,,,,,,,
33,,Steuerpflichtige,Einkommen,Kantonssteuer,Steuerpflichtige,Einkommen,Kantonssteuer,Steuerpflichtige,Einkommen,Kantonssteuer
34,0\n0,89'206,0,0,3'437,0,0,19'995,0,
35,100\n \n20'000,72'288,699'974'100,64'152'656,11'406,128'380'300,10'868'206,34'273,384'733'100,
36,20'100\n \n40'000,104'244,3'207'558'000,354'284'474,14'645,438'684'900,45'286'827,37'227,1'091'080'000,117'348'472
37,40'100\n \n60'000,81'086,3'972'968'300,465'651'801,10'587,522'053'400,58'782'008,23'029,1'135'728'400,131'586'315
38,60'100\n \n80'000,41'313,2'848'427'400,348'111'466,6'156,426'696'600,51'281'031,12'865,884'375'800,108'096'005
39,80'100\n \n100'000,19'989,1'777'961'000,227'547'472,3'499,312'197'300,39'691'000,6'021,535'503'300,
40,100'100\n \n125'000,11'134,1'233'876'700,165'246'984,2'499,278'066'900,37'170'957,3'315,365'939'100,
41,125'100\n \n150'000,4'887,665'268'100,93'005'723,1'476,201'171'300,28'139'893,1'520,207'038'200,
42,150'100\n \n175'000,2'312,372'840'000,53'989'056,832,134'239'500,19'453'378,764,123'146'500,
43,175'100\n \n200'000,1'296,241'790'700,36'121'556,529,98'635'600,14'709'208,466,87'112'100,
44,200'100\n \n250'000,1'194,265'032'700,41'058'727,671,149'141'300,23'067'058,435,96'719'400,
45,250'100\n \n300'000,561,153'601'800,24'811'554,365,99'320'300,15'985'128,256,69'780'700,
46,300'100\n \n400'000,489,168'049'700,28'189'333,315,108'094'300,18'093'050,232,79'631'000,
47,400'100\n \n500'000,225,99'724'600,17'413'720,132,58'544'900,10'163'120,111,49'598'200,
48,500'100\n \n750'000,194,116'500'700,21'066'464,111,65'826'100,11'872'928,111,65'414'900,
49,750'100\n \n1'000'000,69,59'335'500,11'040'681,33,27'994'500,5'204'960,42,36'073'000,
50,1'000'100\n+,75,159'138'000,30'857'707,32,66'481'100,12'889'623,61,146'528'400,
51,Total,430'562,16'042'047'300,1'982'549'373,56'725,3'115'528'300,402'658'375,140'723,5'358'402'100,670'018'418
52,"Steuerverwaltung des Kantons Bern, www.be.ch/s...",,,,,,,,,

### zurechtschneiden

In [32]:
test_df = Einkommenssteuer_2007[0].df
Einkommen_07 = test_df[9:]

In [33]:
einkommen_2007 = Einkommen_07.head(18)

### Headers setzen

In [34]:
headers = ['Einkommen von bis', 'Anzahl Alleinstehende 2007', 'EK Alleinstehende', 
           'Betrag Kantonssteuer Alleinstehende 2007', 'Anzahl Ehepaare 2007', 'EK Ehepaare', 
           'Betrag Kantonssteuer Ehepaare 2007', 'Total Anzahl Steuerzahler', 'Total EK', 
           'Total Betrag Kantonssteuer']
einkommen_2007.columns = headers
einkommen_2007

,Einkommen von bis,Anzahl Alleinstehende 2007,EK Alleinstehende,Betrag Kantonssteuer Alleinstehende 2007,Anzahl Ehepaare 2007,EK Ehepaare,Betrag Kantonssteuer Ehepaare 2007,Total Anzahl Steuerzahler,Total EK,Total Betrag Kantonssteuer
9,0\n0,96'546,0,0,16'092,0,0,112'638,0,
10,100\n \n20'000,91'488,956'164'700,90'950'139,26'479,256'922'800,21'202'526,117'967,1'213'087'500,112'152'665
11,20'100\n \n40'000,111'731,3'377'405'400,385'187'702,44'385,1'359'917'500,131'732'072,156'116,4'737'322'900,516'919'773
12,40'100\n \n60'000,63'313,3'059'125'700,379'035'625,51'389,2'571'624'400,276'984'498,114'702,5'630'750'100,656'020'124
13,60'100\n \n80'000,21'505,1'471'156'000,195'074'286,38'829,2'688'343'800,312'414'215,60'334,4'159'499'800,507'488'501
14,80'100\n \n100'000,7'871,697'696'800,97'784'261,21'638,1'927'964'800,238'611'877,29'509,2'625'661'600,336'396'138
15,100'100\n \n125'000,3'626,400'253'300,58'718'513,13'322,1'477'629'400,193'291'527,16'948,1'877'882'700,252'010'040
16,125'100\n \n150'000,1'537,208'923'200,31'906'800,6'346,864'554'400,118'665'856,7'883,1'073'477'600,150'572'656
17,150'100\n \n175'000,692,111'429'300,17'585'474,3'216,518'796'700,73'985'784,3'908,630'226'000,
18,175'100\n \n200'000,456,85'261'900,13'772'337,1'835,342'276'500,50'306'552,2'291,427'538'400,
19,200'100\n \n250'000,472,104'527'900,17'405'488,1'828,406'365'500,62'023'346,2'300,510'893'400,
20,250'100\n \n300'000,268,73'150'700,12'496'769,914,249'552'100,39'763'901,1'182,322'702'800,
21,300'100\n \n400'000,210,72'208'500,12'751'283,826,283'566'500,47'124'539,1'036,355'775'000,
22,400'100\n \n500'000,90,39'684'000,7'186'064,378,168'183'700,29'161'223,468,207'867'700,
23,500'100\n \n750'000,71,42'167'800,7'825'985,345,205'573'900,36'981'177,416,247'741'700,
24,750'100\n \n1'000'000,27,22'624'800,4'285'037,117,100'778'200,18'697'408,144,123'403'000,
25,1'000'100\n+,46,100'155'000,19'573'493,122,271'992'500,52'740'406,168,372'147'500,
26,Total,399'949,10'821'935'000,1'351'539'258,228'061,13'694'042'700,1'703'686'908,628'010,24'515'977'700,3'055'226'166

In [35]:
# überflüssige kolonnen löschen
del einkommen_2007['EK Alleinstehende']
del einkommen_2007['EK Ehepaare']
del einkommen_2007['Total EK']

In [36]:
einkommen_2007.dtypes

Einkommen von bis                           object
Anzahl Alleinstehende 2007                  object
Betrag Kantonssteuer Alleinstehende 2007    object
Anzahl Ehepaare 2007                        object
Betrag Kantonssteuer Ehepaare 2007          object
Total Anzahl Steuerzahler                   object
Total Betrag Kantonssteuer                  object
dtype: object

Ich seh schon hier in der Tabelle oben, dass mir das Total Probleme machen wird. Da ich es eh einfach als Schmuck mitnehmen wollte (die drei letzten Kolonnen), es aber auch easy dann zusammenrechnen kann in meinen Dataframes, lasse ich es hier weg. Das ist einfacher.

In [37]:
# das total löschen
del einkommen_2007['Total Betrag Kantonssteuer']
del einkommen_2007['Total Anzahl Steuerzahler']
einkommen_2007

,Einkommen von bis,Anzahl Alleinstehende 2007,Betrag Kantonssteuer Alleinstehende 2007,Anzahl Ehepaare 2007,Betrag Kantonssteuer Ehepaare 2007
9,0\n0,96'546,0,16'092,0
10,100\n \n20'000,91'488,90'950'139,26'479,21'202'526
11,20'100\n \n40'000,111'731,385'187'702,44'385,131'732'072
12,40'100\n \n60'000,63'313,379'035'625,51'389,276'984'498
13,60'100\n \n80'000,21'505,195'074'286,38'829,312'414'215
14,80'100\n \n100'000,7'871,97'784'261,21'638,238'611'877
15,100'100\n \n125'000,3'626,58'718'513,13'322,193'291'527
16,125'100\n \n150'000,1'537,31'906'800,6'346,118'665'856
17,150'100\n \n175'000,692,17'585'474,3'216,73'985'784
18,175'100\n \n200'000,456,13'772'337,1'835,50'306'552
19,200'100\n \n250'000,472,17'405'488,1'828,62'023'346
20,250'100\n \n300'000,268,12'496'769,914,39'763'901
21,300'100\n \n400'000,210,12'751'283,826,47'124'539
22,400'100\n \n500'000,90,7'186'064,378,29'161'223
23,500'100\n \n750'000,71,7'825'985,345,36'981'177
24,750'100\n \n1'000'000,27,4'285'037,117,18'697'408
25,1'000'100\n+,46,19'573'493,122,52'740'406
26,Total,399'949,1'351'539'258,228'061,1'703'686'908

In [41]:
# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen07 = einkommen_2007['Einkommen von bis'].str.split('\n', 1, expand=True) 

headers = ['Einkommen ab CHF', 'streichen']
getrennte_kolonnen07.columns = headers
del getrennte_kolonnen07['streichen']
getrennte_kolonnen07

   Einkommen ab CHF
9                 0
10              100
11           20'100
12           40'100
13           60'100
14           80'100
15          100'100
16          125'100
17          150'100
18          175'100
19          200'100
20          250'100
21          300'100
22          400'100
23          500'100
24          750'100
25        1'000'100
26            Total

In [43]:
#die beiden df einkommen_2007 und getrennte_kolonnen07 zusammenfügen
Einkommen_2007_neu = pd.concat([getrennte_kolonnen07, einkommen_2007], axis=1)
Einkommen_2007_neu

,Einkommen ab CHF,Einkommen von bis,Anzahl Alleinstehende 2007,Betrag Kantonssteuer Alleinstehende 2007,Anzahl Ehepaare 2007,Betrag Kantonssteuer Ehepaare 2007
9,0,0\n0,96'546,0,16'092,0
10,100,100\n \n20'000,91'488,90'950'139,26'479,21'202'526
11,20'100,20'100\n \n40'000,111'731,385'187'702,44'385,131'732'072
12,40'100,40'100\n \n60'000,63'313,379'035'625,51'389,276'984'498
13,60'100,60'100\n \n80'000,21'505,195'074'286,38'829,312'414'215
14,80'100,80'100\n \n100'000,7'871,97'784'261,21'638,238'611'877
15,100'100,100'100\n \n125'000,3'626,58'718'513,13'322,193'291'527
16,125'100,125'100\n \n150'000,1'537,31'906'800,6'346,118'665'856
17,150'100,150'100\n \n175'000,692,17'585'474,3'216,73'985'784
18,175'100,175'100\n \n200'000,456,13'772'337,1'835,50'306'552
19,200'100,200'100\n \n250'000,472,17'405'488,1'828,62'023'346
20,250'100,250'100\n \n300'000,268,12'496'769,914,39'763'901
21,300'100,300'100\n \n400'000,210,12'751'283,826,47'124'539
22,400'100,400'100\n \n500'000,90,7'186'064,378,29'161'223
23,500'100,500'100\n \n750'000,71,7'825'985,345,36'981'177
24,750'100,750'100\n \n1'000'000,27,4'285'037,117,18'697'408
25,1'000'100,1'000'100\n+,46,19'573'493,122,52'740'406
26,Total,Total,399'949,1'351'539'258,228'061,1'703'686'908

Da ist noch eine Kolonne zu viel

In [44]:
del Einkommen_2007_neu['Einkommen von bis']
Einkommen_2007_neu

,Einkommen ab CHF,Anzahl Alleinstehende 2007,Betrag Kantonssteuer Alleinstehende 2007,Anzahl Ehepaare 2007,Betrag Kantonssteuer Ehepaare 2007
9,0,96'546,0,16'092,0
10,100,91'488,90'950'139,26'479,21'202'526
11,20'100,111'731,385'187'702,44'385,131'732'072
12,40'100,63'313,379'035'625,51'389,276'984'498
13,60'100,21'505,195'074'286,38'829,312'414'215
14,80'100,7'871,97'784'261,21'638,238'611'877
15,100'100,3'626,58'718'513,13'322,193'291'527
16,125'100,1'537,31'906'800,6'346,118'665'856
17,150'100,692,17'585'474,3'216,73'985'784
18,175'100,456,13'772'337,1'835,50'306'552
19,200'100,472,17'405'488,1'828,62'023'346
20,250'100,268,12'496'769,914,39'763'901
21,300'100,210,12'751'283,826,47'124'539
22,400'100,90,7'186'064,378,29'161'223
23,500'100,71,7'825'985,345,36'981'177
24,750'100,27,4'285'037,117,18'697'408
25,1'000'100,46,19'573'493,122,52'740'406
26,Total,399'949,1'351'539'258,228'061,1'703'686'908

In [49]:
#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
Einkommen_2007_neu['Einkommen ab CHF'] = Einkommen_2007_neu['Einkommen ab CHF'].apply(geputzt)
Einkommen_2007_neu['Anzahl Alleinstehende 2007'] = Einkommen_2007_neu['Anzahl Alleinstehende 2007'].apply(geputzt)
Einkommen_2007_neu['Betrag Kantonssteuer Alleinstehende 2007'] = Einkommen_2007_neu['Betrag Kantonssteuer Alleinstehende 2007'].apply(geputzt)
Einkommen_2007_neu['Anzahl Ehepaare 2007'] = Einkommen_2007_neu['Anzahl Ehepaare 2007'].apply(geputzt)
Einkommen_2007_neu['Betrag Kantonssteuer Ehepaare 2007'] = Einkommen_2007_neu['Betrag Kantonssteuer Ehepaare 2007'].apply(geputzt)
Einkommen_2007_neu

,Einkommen ab CHF,Anzahl Alleinstehende 2007,Betrag Kantonssteuer Alleinstehende 2007,Anzahl Ehepaare 2007,Betrag Kantonssteuer Ehepaare 2007
9,0,96546,0,16092,0
10,100,91488,90950139,26479,21202526
11,20100,111731,385187702,44385,131732072
12,40100,63313,379035625,51389,276984498
13,60100,21505,195074286,38829,312414215
14,80100,7871,97784261,21638,238611877
15,100100,3626,58718513,13322,193291527
16,125100,1537,31906800,6346,118665856
17,150100,692,17585474,3216,73985784
18,175100,456,13772337,1835,50306552
19,200100,472,17405488,1828,62023346
20,250100,268,12496769,914,39763901
21,300100,210,12751283,826,47124539
22,400100,90,7186064,378,29161223
23,500100,71,7825985,345,36981177
24,750100,27,4285037,117,18697408
25,1000100,46,19573493,122,52740406
26,Total,399949,1351539258,228061,1703686908

In [52]:
#um 90 Grad drehen
Einkommen_2007_neu = Einkommen_2007_neu.T
Einkommen_2007_neu

,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
Einkommen ab CHF,0,100,20100,40100,60100,80100,100100,125100,150100,175100,200100,250100,300100,400100,500100,750100,1000100,Total
Anzahl Alleinstehende 2007,96546,91488,111731,63313,21505,7871,3626,1537,692,456,472,268,210,90,71,27,46,399949
Betrag Kantonssteuer Alleinstehende 2007,0,90950139,385187702,379035625,195074286,97784261,58718513,31906800,17585474,13772337,17405488,12496769,12751283,7186064,7825985,4285037,19573493,1351539258
Anzahl Ehepaare 2007,16092,26479,44385,51389,38829,21638,13322,6346,3216,1835,1828,914,826,378,345,117,122,228061
Betrag Kantonssteuer Ehepaare 2007,0,21202526,131732072,276984498,312414215,238611877,193291527,118665856,73985784,50306552,62023346,39763901,47124539,29161223,36981177,18697408,52740406,1703686908

# jäää... da muss ich etwas anders angehen. und zwar will ich ja ehepaare und alleinstehende separieren, damit ich die dann im jahresüberblick und nach steuerbetrag und nach anzahl personen habe. ich werde wohl zwei definitionen schreiben, und in denen dann jeweils die anderen kolonnen weglöschen. dann warte ich aber noch gerade zu, bis ich die kolonnen drehe.

In [ ]:
#hier der restcode von den firmen, zum spicken.


#um 90 Grad drehen
Einkommen_2007_neu = Einkommen_2007_neu.T

# erste Zeile weg
Firmen17 = firmen_17_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn 250100 bis 1000000 CHF', 'Steuerbarer Gewinn ab 1000100 CHF', 'Total Steuerbarer Gewinn']
Firmen17.columns = headers

# Objekte in Integers verwandeln, damit ich die Zahlen addieren kann
Firmen17 = Firmen17.astype(int)

# die Spalten addieren
Firmen17['Steuerbarer Gewinn ab 250100 CHF'] = Firmen17['Steuerbarer Gewinn 250100 bis 1000000 CHF'] + Firmen17['Steuerbarer Gewinn ab 1000100 CHF']

# die überflüssigen addierten Spalten raus
del Firmen17['Steuerbarer Gewinn 250100 bis 1000000 CHF']
del Firmen17['Steuerbarer Gewinn ab 1000100 CHF']

# die Reihenfolge der Kolonnen anpassen
Firmen17 = Firmen17[['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 
                     'Steuerbarer Gewinn 50100-250000 CHF', 'Steuerbarer Gewinn ab 250100 CHF', 
                     'Total Steuerbarer Gewinn']]

# den Betrag Kantonssteuer raus ziehen
Firmen17